In [2]:
import json
import requests
import pandas as pd

In [3]:
response = requests.get('https://api.instagram.com/v1/locations/{location-id}')

data = pd.DataFrame(response.json())
data.head()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [4]:
response = requests.get('http://hp-api.herokuapp.com/api/characters')

data = pd.DataFrame(response.json())
data.head()

,name,alternate_names,species,gender,house,dateOfBirth,yearOfBirth,wizard,ancestry,eyeColour,hairColour,wand,patronus,hogwartsStudent,hogwartsStaff,actor,alternate_actors,alive,image
0,Harry Potter,[],human,male,Gryffindor,31-07-1980,1980,True,half-blood,green,black,"{'wood': 'holly', 'core': 'phoenix feather', '...",stag,True,False,Daniel Radcliffe,[],True,http://hp-api.herokuapp.com/images/harry.jpg
1,Hermione Granger,[],human,female,Gryffindor,19-09-1979,1979,True,muggleborn,brown,brown,"{'wood': 'vine', 'core': 'dragon heartstring',...",otter,True,False,Emma Watson,[],True,http://hp-api.herokuapp.com/images/hermione.jpeg
2,Ron Weasley,[],human,male,Gryffindor,01-03-1980,1980,True,pure-blood,blue,red,"{'wood': 'willow', 'core': 'unicorn tail-hair'...",Jack Russell terrier,True,False,Rupert Grint,[],True,http://hp-api.herokuapp.com/images/ron.jpg
3,Draco Malfoy,[],human,male,Slytherin,05-06-1980,1980,True,pure-blood,grey,blonde,"{'wood': 'hawthorn', 'core': 'unicorn tail-hai...",,True,False,Tom Felton,[],True,http://hp-api.herokuapp.com/images/draco.jpg
4,Minerva McGonagall,[],human,female,Gryffindor,04-10-1925,1925,True,,,black,"{'wood': '', 'core': '', 'length': ''}",tabby cat,False,True,Dame Maggie Smith,[],True,http://hp-api.herokuapp.com/images/mcgonagall.jpg

In [9]:
from pandas.io.json import json_normalize
results = response.json()
flattened_data = json_normalize(results)
flattened_data

<ipython-input-9-92e1e1bf2b5a>:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data = json_normalize(results)

,name,alternate_names,species,gender,house,dateOfBirth,yearOfBirth,wizard,ancestry,eyeColour,...,patronus,hogwartsStudent,hogwartsStaff,actor,alternate_actors,alive,image,wand.wood,wand.core,wand.length
0,Harry Potter,[],human,male,Gryffindor,31-07-1980,1980,True,half-blood,green,...,stag,True,False,Daniel Radcliffe,[],True,http://hp-api.herokuapp.com/images/harry.jpg,holly,phoenix feather,11
1,Hermione Granger,[],human,female,Gryffindor,19-09-1979,1979,True,muggleborn,brown,...,otter,True,False,Emma Watson,[],True,http://hp-api.herokuapp.com/images/hermione.jpeg,vine,dragon heartstring,
2,Ron Weasley,[],human,male,Gryffindor,01-03-1980,1980,True,pure-blood,blue,...,Jack Russell terrier,True,False,Rupert Grint,[],True,http://hp-api.herokuapp.com/images/ron.jpg,willow,unicorn tail-hair,14
3,Draco Malfoy,[],human,male,Slytherin,05-06-1980,1980,True,pure-blood,grey,...,,True,False,Tom Felton,[],True,http://hp-api.herokuapp.com/images/draco.jpg,hawthorn,unicorn tail-hair,10
4,Minerva McGonagall,[],human,female,Gryffindor,04-10-1925,1925,True,,,...,tabby cat,False,True,Dame Maggie Smith,[],True,http://hp-api.herokuapp.com/images/mcgonagall.jpg,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,Summerby,[],human,male,Hufflepuff,,,True,,,...,,True,False,,[],True,,,,
287,Theodore Nott,[],human,male,Slythetin,,,True,pure-blood,,...,,True,False,,[],True,,,,
288,Marietta Edgecombe,[],human,female,Ravenclaw,,,True,,,...,,True,False,,[],True,,,,
289,Madam Edgecombe,[],human,female,,,,True,,,...,,False,False,,[],True,,,,
290,John Dawlish,[],human,male,,,,True,,,...,,False,False,Richard Leaf,[],True,,,,

In [11]:
response = requests.get('https://namo-memes.herokuapp.com/memes/latest/:n')

data = pd.DataFrame(response.json())
data.head()

,_id,url,__v,createdAt,updatedAt
0,5d857bbc3d09e61ff99fd10b,https://scontent-lga3-1.cdninstagram.com/vp/fc...,0,2019-09-21T01:24:12.281Z,2019-09-21T01:24:12.282Z
1,5d857ac33d09e61ff99fd0bc,https://static.asianetnews.com/images/01db393g...,0,2019-09-21T01:20:03.559Z,2019-09-21T01:20:03.559Z
2,5d857ac33d09e61ff99fd0bb,https://ytimg.googleusercontent.com/vi/wefCKNn...,0,2019-09-21T01:20:03.558Z,2019-09-21T01:20:03.558Z
3,5d857a173d09e61ff99fd07f,https://scontent-frx5-1.cdninstagram.com/v/t51...,0,2019-09-21T01:17:11.200Z,2019-09-21T01:17:11.200Z
4,5d85770c3d09e61ff99fcf8f,https://ytimg.googleusercontent.com/vi/VD9CJuW...,0,2019-09-21T01:04:12.185Z,2019-09-21T01:04:12.185Z

In [20]:
response = requests.get('https://www.breakingbadapi.com/api/characters')

data = pd.DataFrame(response.json())
data.head()

,char_id,name,birthday,occupation,img,status,nickname,appearance,portrayed,category,better_call_saul_appearance
0,1,Walter White,09-07-1958,"[High School Chemistry Teacher, Meth King Pin]",https://images.amcnetworks.com/amc.com/wp-cont...,Presumed dead,Heisenberg,"[1, 2, 3, 4, 5]",Bryan Cranston,Breaking Bad,[]
1,2,Jesse Pinkman,09-24-1984,[Meth Dealer],https://vignette.wikia.nocookie.net/breakingba...,Alive,Cap n' Cook,"[1, 2, 3, 4, 5]",Aaron Paul,Breaking Bad,[]
2,3,Skyler White,08-11-1970,"[House wife, Book Keeper, Car Wash Manager, Ta...",https://s-i.huffpost.com/gen/1317262/images/o-...,Alive,Sky,"[1, 2, 3, 4, 5]",Anna Gunn,Breaking Bad,[]
3,4,Walter White Jr.,07-08-1993,[Teenager],https://media1.popsugar-assets.com/files/thumb...,Alive,Flynn,"[1, 2, 3, 4, 5]",RJ Mitte,Breaking Bad,[]
4,5,Henry Schrader,Unknown,[DEA Agent],https://vignette.wikia.nocookie.net/breakingba...,Deceased,Hank,"[1, 2, 3, 4, 5]",Dean Norris,Breaking Bad,[]